:root {
    --primary-color: #1a222c;
    --secondary-color: #43c464;
    --tirtiary-color: #3c434c;
    --fourth-color: #26313e;
    --text-color: #bdbfc1;
    --background-color: #11161d;
    --item-text-color: #1a1a1b;
    --item-background-color: #80e099;
}

* {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    background-color: var(--primary-color);
}
.header-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 8px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    /* color: #fff; */
    font-family: 'Montserrat','Nunito', sans-serif;
  }

  /* font-family: Source Code Pro,ui-monospace,monospace; */
  

h1 {
    font-size: 1.8rem;
}

.text-gradient-green {
    color: #2AF779;
    background-image: linear-gradient(45deg, #2AF779 , #64AD57 50%, #98C785 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.text-gradient-purple {
    color: #881FDE;
    background-image: linear-gradient(45deg, #881FDE , #A581D4 62%, #C4A1D4 81%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* display: inline-block; */
  }

.feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
}
  
.video-card {
    /* color: var(--text-color); */
    color: #d1d5db;
    background-color: var(--primary-color);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.671);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.video-card:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); */
}
  
.video-thumb img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
}
  
.video-info {
    padding: 8px;
}
  
.video-info h3 {
    /* margin: 0 0 5px; */
    margin: 4px 0;
    font-size: 1em;
}

.video-info a {
    /* color: var(--text-color); */
    overflow: hidden;
    text-decoration: none;
}
  
.video-info p {
    /* color: #888; */
    font-size: 0.8em;
    height: 1.5em;
    overflow: hidden;
    margin: 2px;
}
  
.video-info .exalt {
    color: var(--item-text-color);
}

.card_date {
    /* color: var(--item-text-color) !important; */
    background-color: var(--item-background-color);
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
}

