:root {
    --primary-color: #1a222c;
    --secondary-color: #43c464;
    --tirtiary-color: #3c434c;
    --fourth-color: #26313e;
    --text-color: #bdbfc1;
    --background-color: #11161d;
    --item-text-color: #1a1a1b;
    --item-background-color: #80e099;
}

* {
    margin: 0;
}
a {
    text-decoration: none;
}
.header {
    width: 100%;
    background-color: var(--primary-color);
}
.header-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 32px;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: #fff;
    font-family: 'Nunito', sans-serif;
  }
  

h1 {
    color: var(--secondary-color);
    font-size: 1.8rem;
}

.feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    padding: 20px;
}
  
.video-card {
    color: var(--text-color);
    background-color: var(--fourth-color);
    border-radius: 8px;
    border: solid 1px var(--tirtiary-color);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
  
.video-card:hover {
    transform: translateY(-2px);
    /* box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1); */
}
  
.video-thumb img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
    border-radius: 8px 8px 0 0;
}
  
.video-info {
    padding: 8px;
}
  
.video-info h3 {
    /* margin: 0 0 5px; */
    margin: 4px 0;
    font-size: 1em;
}

.video-info a {
    color: var(--text-color);
    overflow: hidden;
    text-decoration: none;
}
  
.video-info p {
    color: #888;
    font-size: 0.8em;
    height: 1.5em;
    overflow: hidden;
    margin: 2px;
}
  
.video-info .exalt {
    color: var(--item-text-color);
}

.card_date {
    color: var(--item-text-color) !important;
    background-color: var(--item-background-color);
    padding: 2px 8px;
    border-radius: 4px;
    display: inline-block;
}

